<script type="text/javascript" LANGUAGE="javascript" src="$content.getURI('scripts/subjectAssessorData/proj_subj_selector.js')"></SCRIPT>

<script>
var sessionChanged=false;
function exptManuallyChanged(){
	sessionChanged=true;
}

function updateExptLabel() {
   var exptLabel = document.getElementById("$!item.getXSIType()/label").value;
   var proj = document.getElementById("$!item.getXSIType()/project").value;
   var num = document.getElementById('$!item.getXSIType()/subject_id').selectedIndex;
   if (exptLabel==null || exptLabel==""){
      sessionChanged=false;
   }
   if (num > 0 && !sessionChanged) {
      //alert("looking for expt update");
      var subj = document.getElementById('$!item.getXSIType()/subject_id')[document.getElementById('$!item.getXSIType()/subject_id').selectedIndex].innerHTML;
          if (proj!=null && proj!="" && subj!=null && subj!=""){
          var newExpt = proj+subj+"_"+"$!exptDateStr";
          document.getElementById("$!item.getXSIType()/label").value = newExpt;  
          }
      }
   return true;
 }
</script>
#set($part=$om.SubjectData)
#set($project=$om.getProject())
<input type="hidden" id="$!item.getXSIType()/ID" name="$!item.getXSIType()/ID" value="$!item.getStringProperty("$!item.getXSIType()/ID")">
#if($om.getId())
	<tr>
		<td align="left">Project</td>	
		<td>$!om.getProject($project,false).getDisplayID()
		<input type="hidden" id="$!item.getXSIType()/project" name="$!item.getXSIType()/project" value="$!item.getStringProperty("$!item.getXSIType()/project")"></input>
		</td>
     </tr>
	 <tr>
		<td align="left">Subject</td>
		<td>$!part.getLabel()
		<input type="hidden" id="$!item.getXSIType()/subject_id" name="$!item.getXSIType()/subject_id" value="$!item.getStringProperty("$!item.getXSIType()/subject_id")"></input>
		</td>
     </tr>
	 <tr>
		<td align="left">Experiment</td>
        <td>$!item.getStringProperty("$!item.getXSIType()/label")
		<input type="hidden" id="$!item.getXSIType()/label" name="$!item.getXSIType()/label" value="$!item.getStringProperty("$!item.getXSIType()/label")"></input></td>
     </tr>
 #else
	 <tr>
		<TD align="left">Project</TD>
		<td><select id="$!item.getXSIType()/project" name="$!item.getXSIType()/project" disabled=true onBlur="updateExptLabel();"></select></td>
     </tr>
     <tr>
		<TD align="left">Subject</TD>
		<td><select id="$!item.getXSIType()/subject_id" name="$!item.getXSIType()/subject_id" disabled=true onBlur="updateExptLabel();"></select>
		#if(!$preventSubject)
			&nbsp;&nbsp;&nbsp;<a onclick="createSubjectForm();">Add New Subject</a>
		#end
		</td>
     </tr>
     <tr>
		<td align="left" colspan="3"><div style="color:red" id="subj_msg"></div></td>
     </tr>
     <tr>
		<TD align="left">Experiment</TD>
		<td>
			#if($!part)
				#set($subj=$!part.getLabel())
			#end                                
			#if($!item.getProperty("label") && $!item.getProperty("label")!= "")	
				#set($exptLabel=$!item.getProperty("label"))
			#elseif($!project && $!subj)
				#set($exptLabel="$!project$!{subj}_$!exptDateStr")
			#else
				#set($exptLabel="")
			#end
			<input type="text" id="$!item.getXSIType()/label" name="$!item.getXSIType()/label" value="$!exptLabel" onkeyup="this.value=fixSessionID(this.value);verifyExptId(this);exptManuallyChanged();" onblur="updateExptLabel();"/>
		</td>
		<td align="left" colspan="3"><div style="color:red" id="label_msg"></div></td>
     </tr>
<script type="text/javascript">
	var elementName="$!item.getXSIType()";
	window.create_subject_link ="$link.setPage('XDATScreen_edit_xnat_subjectData.vm').addPathInfo('popup','true')";
	window.create_subject_link+="/project/$project/destination/JS_Parent_Return.vm";

    #if($item.getProperty('subject_id'))
     #set($part_id=$item.getProperty('subject_id'))
    #end

	function createSubjectForm(){
	  	if (this.subjectForm!=undefined){
     	   this.subjectForm.close();
     	   this.subjectForm=null;
   	  	}                	 	
   	 	this.subjectForm=window.open(window.create_subject_link, '','width=500,height=550,status=yes,resizable=yes,scrollbars=yes,toolbar=no');
   	  	if (this.subjectForm.opener == null) this.subjectForm.opener = self;
		return this.subjectForm;
	}
	
    window.success=function(subject_id){
      //window.psm("The subject you entered was stored.");
      if(this.subjectForm!=undefined){
        this.subjectForm.close();
    	this.subjectForm=null;
      }
      window.psm.defaultSubject=subject_id;
      window.psm.loadSubjects();
    }

    window.failure=function(msg){
      //window.psm.message(msg);
      if(this.subjectForm!=undefined){
        this.subjectForm.close();
    	this.subjectForm=null;
      }
    }
	
    window.psm = new ProjectSubjectSelector("$!item.getXSIType()/project","$!item.getXSIType()/subject_id",null,"$!project","$!part_id");
    window.psm.init();              
    
    function stringTrim(str)
    {
       return str.replace(/^\s*|\s*$/g,"");
    }
    var w=window;               
</script>
#end
