<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("SyntheticVariableAssessment Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>SyntheticVariableAssessment Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("synthetic:syntheticVariableAssessmentData/subject_ID")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("synthetic:syntheticVariableAssessmentData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("synthetic:syntheticVariableAssessmentData/project")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("synthetic:syntheticVariableAssessmentData/label")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("synthetic:syntheticVariableAssessmentData/date")</TD></TR>
							<TR><TD>Hair Length (inches)</TD><TD>$!item.getDoubleProperty("synthetic:syntheticVariableAssessmentData/hairLength")</TD></TR>
							<TR><TD>Number of Fingers</TD><TD>$!item.getIntegerProperty("synthetic:syntheticVariableAssessmentData/numFingers")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
